.landing {
  background-image: url('../assets/images/switch-light.jpg');
  background-repeat: no-repeat;
  background-position: top;
/*  background-size: 100% clamp(15vw, 250px, 22vw);*/
  background-size: 100% clamp(15vw, 450px, 25vw);
}


.colorscheme-dark .landing {
  background-image: url('../assets/images/switch.jpg');
  background-repeat: no-repeat;
  background-position: top;
/*  background-size: 100% clamp(15vw, 250px, 22vw);*/
  background-size: 100% clamp(15vw, 450px, 25vw);
}

/*.navigation .navigation-title {
    background-image: url('../assets/images/SGC_unilogo.png');
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}*/

/*.hljs {background: red;}*/
.colorscheme-dark .hljs {background: #383e42;}

/*.colorscheme-dark .centered .about h1 {color: rgb(250, 250, 250); }
.centered .about h1 {color: rgb(170, 170, 170); }

.colorscheme-dark .centered .about h2 {color: rgb(250, 250, 250); }
.centered .about h2 {color: rgb(170, 170, 170); }

.colorscheme-dark .navigation a {color: rgb(250, 250, 250); }
.navigation a {color: rgb(170, 170, 170); }*/
